#header {
    left: 0;
    top: 0;
    width: 100%;
}

#is {
    margin-right: 5%;
    width: 100%;
}

#mydiv {
    margin-top: 50px;
    margin-left: 3.5%;
    width: 75%;
}

#myfooter {
    margin-top: 5.5%;
    left: 0;
    bottom: 0;
    width: 100%;
}

.modal-header {
    height: 75px;
    border-color: white !important;
}

.input-group {
    width: 94% !important;
    margin-left: 15px;
    margin-right: 15px;
}

.modal-footer {
    border-color: white !important;
}